<%- layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
                class="validated-form" enctype="multipart/form-data">
                <!-- Title -->
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Location -->
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="locaiton"
                        value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Image -->
                <div class="mb-3">
                    <label class="form-label" for="image">Add Images</label>
                    <input type="file" name="image" id="image" multiple>
                </div>
                <!-- Price -->
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">Rs</span>
                        <input type="text" id="price" class="form-control" placeholder="0" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <!-- Description -->
                <div class="mb-3">
                    <label class="form-label" for="Description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="Description"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update</button>
                </div>
            </form>
            <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>